<br>
<style>

    .scroll-container {
        width: 100%; /* Ajusta según tu necesidad */
        height: 200px; /* Ajusta según tu necesidad */
        overflow: auto;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    table.scroll {
        width: 20%; /* 140px * 5 column + 16px scrollbar width */
        border-spacing: 0;
        border: 2px solid black;
    }

    table.scroll tbody,
    table.scroll thead tr { display: block; }

    table.scroll tbody {
        height: 100px;
        overflow-y: auto;
        overflow-x: scroll;
    }

    table.scroll tbody td,
    table.scroll thead th {
        width: 140px;
        border: 1px solid black;
    }

    table.scroll thead th:last-child {
        width: 156px; /* 140px + 16px scrollbar width */
    }

    thead tr th { 
        height: 30px;
        line-height: 30px;
        /*text-align: left;*/
    }

    tbody { border-top: 2px solid black; }

    tbody td:last-child, thead th:last-child {
        border-right: none !important;
    }
    .columnascroll{
        overflow: auto; /* Aparecerá un scroll cuando sea necesario */
        font-family: monospace; /* Usar una fuente monoespaciada para el código */
        height: 10px; 
    }
    /* Estilo para el textarea */
    .bodyTextarea {
        width: 100%;
        height: 200px; /* Altura determinada */
        overflow: auto; /* Aparecerá un scroll cuando sea necesario */
        border: 1px solid #ccc; /* Borde opcional para mayor claridad */
        padding: 10px; /* Espaciado interno opcional */
        white-space: pre-wrap; /* Preservar espacios y saltos de línea */
        font-family: monospace; /* Usar una fuente monoespaciada para el código */
    }

    /* Opcional: Agregar algún estilo adicional a las barras de desplazamiento */
    .bodyTextarea::-webkit-scrollbar {
        width: 12px;
    }

    .bodyTextarea::-webkit-scrollbar-thumb {
        background-color: #888;
    }

    .bodyTextarea::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }
</style>
<script>
    function enviaDatos(){
        document.forms[0].submit();
    }
</script>
<div class="container">
    <div class="card">
        <div class="card-header">
            Busqueda en correo
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
<!-- Tipo: String,
    Subject: String,
    SenderName: String,
    ReceivedTime: Date,
    Body: String,
    CC: String,
    BCC: String,
    SentOn: Date,
    Recipients: [recipientSchema],
    HTMLBody: String,
    Attachments: [attachmentSchema]-->
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table scroll">
                                    <table class="table ">
                                    <thead>
                                        <tr>
                                            <th><strong><small>Tipo</small></strong></th>
                                            <th><strong><small>De:</small></strong></th>
                                            <th><strong><small>Para:</small></strong></th>
                                            <th><strong><small>Asunto</small></strong></th>
                                            <th><strong><small>Recibido</small></strong></th>
                                            <th><strong><small>Enviado</small></strong></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each datos}}
                                        <tr>
                                            <td><small>{{Tipo}}</small></td>
                                            <td><small>{{SenderName}}</small></td>
                                            <td class="columnascroll">
                                                {{#each Recipients}}
                                                    <small>{{Nombre}};</small><br>
                                                {{/each}}
                                            </td>                                        
                                            <td><small>{{Subject}}</small></td>
                                            <td><small>
                                                {{#formatFecha ReceivedTime}}{{/formatFecha}}
                                                </small></td>
                                            <td><small>{{#formatFecha SentOn}}{{/formatFecha}}</small></td>
                                            <td>
                                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#detalleModal{{_id}}">
                                                    Ver
                                                </button>
                                            </td>
                                        </tr>
                                        <!-- Modal para el detalle del correo -->
                                        
                                        <div class="modal fade" id="detalleModal{{_id}}"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog  sticky-top" role="document">
                                                <div class="modal-content ">
                                                    <div class="modal-header" style="background-color: #f8f9fa; z-index: 1030;">
                                                        <h5 class="modal-title  sticky-top" id="exampleModalLabel">Detalle del Correo</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body" style="overflow-y: auto;">
                                                        <div>
                                                            <strong>Asunto:</strong> {{Subject}} <br><br>
                                                            <strong>Contenido:</strong><br><br>
                                                            <pre class="scroll-container"> {{Body}}</pre>
                                                        </div>
                                                        <hr>
                                                        <div>
                                                            {{#each Attachments}}
                                                                    {{Nombre}}; 
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </tbody>
                                    </table>
                                </div>                                
                            </div>
                        </div>    
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

